* {
  margin: 0;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  color: greenyellow;
  overflow: hidden;
}

#screen {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  background-color: #171717;
}

#scanlines, #bezel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

#bezel {
  display: none;
}

#scanlines {
  opacity: 80%;
}

.App {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 5vh; /* set to 10vh when bezel is displayed */
  width: 100%;
  height: 100%;
  overflow: auto; 
}

input {
  all: unset;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 100%;
}

.terminal {
  width: 100%;
  white-space: pre-line;
}

.noselect {
  -webkit-touch-callout: none; /* iOs Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Edge, Opera, Firefox */
}