* {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  background-color: black;
}

.App {
  background-color: black;
  color: white;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
}

input {
  all: unset;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  width: 100%;
}

.terminal {
  white-space: pre-line;
}